@media(max-width: 769px) {
    .content-container {
        padding-left: 48px;
        padding-right: 40px;
    }

    .group-card {
        justify-content: space-between;
    }

    .card {
        background-color: #ffffff;
        width: 280px;
    }

    .btn {
        align-self: flex-start;
    }

}

@media (max-width: 431px) {
    .content-container {
        padding-left: 48px;
        padding-right: 40px;
    }

    .skills-row {
        gap: 48px;
    }


    .card {
        width: 140px;
    }

    .btn {
        align-self: flex-start;
    }

    .hamburger {
        display: flex;
    }

    .menu {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: var(--color-black);
        flex-direction: column;
        padding: 10px;
        border-radius: 10px;
        gap: 10px;
    }

    .menu a {
        margin: 0;
        font-size: 0.9em;
    }

    .menu-toggle:checked+.hamburger+.menu {
        display: flex;
    }
}


@media (max-width:391px) {
    body {
        font-size: 14px;
    }

    .icon-row {
        gap: 12px;
    }

    .card {
        width: 130px;
    }
}


@media (max-width:361px) {
    body {
        font-size: 13px;
    }

    .skills-row {
        gap: 24px;
    }

    .icon-row {
        gap: 7px;
    }

    .card {
        width: 104px;
    }


}