@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-black: #080808;
    --color-white: #f1f1f1;
    --color-grayish-white: #e5e5e5;
    --color-gray-light: #d9d9d9;
    --color-gray-dark: #7b7b7b;
}

body {
    background-color: var(--color-white);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Header styles */
header {
    background-color: var(--color-black);
    color: var(--color-white);
    position: fixed;
    width: 100%;  
    z-index: 999;
}

.content-container {
    max-width: 800px;
    margin: 0 auto;
}

header>section {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo-header {
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

nav>a {
    text-decoration: none;
    font-weight: 500;
    font-size: 0.8em;
    color: var(--color-white);
    margin-right: 30px;
}

nav>a:last-child {
    margin-right: 0;
}

nav>a:hover {
    color: var(--color-gray-dark);
    transition: 0.3s;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Main content styles */
main {
    display: flex;
    flex-direction: column;
    padding-top: 68px;
}

main>section>h1 {
    font-weight: 700;
    text-align: left;
    font-size: 2em;
    line-height: 1em;
    margin-top: 30px;
    margin-bottom: 30px;

}

main>section>h2 {
    font-size: 1.5em;
    line-height: 1em;
    margin-top: 80px;
    margin-bottom: 20px;
}

.section-titles {
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1em;
    margin-bottom: 20px;
}

.paragraph-text {
    line-height: 1.2em;
    margin-top: 20px;

}

/* Button styles */
.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 80px;
    margin-top: 30px;

}

.skill-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skills-row {
    display: flex;
    gap: 80px;
    /* espaço entre os blocos */
}

button {
    border: none;
}

.btn {
    background-color: var(--color-gray-light);
    color: var(--color-black);
    text-decoration: none;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.6em;
}

.btn:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    transition: 0.3s;
    cursor: pointer;
}

.star-icon {
    width: 11px;
    margin-right: 5px;
}

.icon-row {
    display: flex;
    gap: 24px;
    margin-top: 20px;
    margin-bottom: 40px;
    height: 30px;
}

.skill-icon {
  width: 30px;
  height: 30px;
  fill: var(--color-black);
  transition: 0.3s;
}

.skill-icon:hover {
  fill: var(--color-gray-dark); 
}

.show-skills-toggle {
    display: none;
}

.show-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(.4,0,.2,1), opacity 0.4s cubic-bezier(.4,0,.2,1);
}

.show-skills-toggle:checked ~ .btn + .show-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-height: 100px; 
    opacity: 1;
}


.arrow-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.arrow-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 70px;
}

/* My Works styles */
.group-card {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    gap: 24px;
    margin-bottom: 20px;
}

.card {
    width: 182px;
    aspect-ratio: 1 / 1;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-grayish-white);
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.card-image {
    overflow: hidden;
}

.card-image img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.card-text {
    background-color: var(--color-gray-light);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 6px;
  
}

.card-title {
    font-size: 0.7em;
    font-weight: bold;
    color: var(--color-black);
}

.card-description {
    font-size: 0.6em;
    line-height: 1.2em;
    color: var(--color-black);
}

.show-more-toggle {
  display: none;
}

.more-cards {
  display: none;
}

.more-cards .group-card {
  margin-bottom: 0;
}
.toggle-button {
  cursor: pointer;
  display: inline-block;
}

.show-less-text {
  display: none;
}

#show-more-cards:checked ~ .toggle-button .show-more-text {
  display: none;
}

#show-more-cards:checked ~ .toggle-button .show-less-text {
  display: inline;
}

.show-more-toggle:checked ~ .more-cards {
  display: flex;
}

/* Estilos do Modal */
/* Esconde o input de controle */
.modal-toggle {
    display: none;
}

/* Modal - escondido por padrão */
.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Quando o input estiver checado, mostra o modal */
.modal-toggle:checked ~ .modal {
    display: flex;
}

/* Conteúdo do modal */
.modal-card {
    position: relative;
}

.modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    background-color: var(--color-white);
    border-radius: 16px;
}

.modal-content img {
    max-width: 100%;
    max-height: 80vh;
    display: block;
    border-radius: 12px;
}

/* Overlay - clicar fora fecha */
.modal-overlay {
    position: fixed;
    inset: 0;
}

/* Botão fechar */
.close-button {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

.close-button:hover {
    background-color: var(--color-gray-dark);
}


/* Icones de contato */
.contact-icons {
    display: flex;
    gap: 20px;
    width: 40px;
    cursor: pointer;
}

.contact-icons svg {
    fill: var(--color-black);
    transition: fill 0.3s ease;

}

.contact-icons:hover svg {
    fill: var(--color-gray-dark);
}


/* Footer styles */
footer {
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer .logo-footer {
    color: var(--color-white);
    height: 30px;
}